.container {
    text-align: left;
  }
  
  .description {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .feature-list {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .feature-list li {
    margin-bottom: 10px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }